* {
  box-sizing: border-box;
}

body {
  max-width: 1366px;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: lime;
  padding: 0.5em;
}

#artnm {
  display: inline;
  font-size: 2.7em;
}

#gen {
  color: cadetBlue;
  display: inline;
  font-size: 3em;
}

#gen:hover {
  color: pink;
}

h1:hover {
  color: white;
}

#formSection {
  background-color: lightblue;
  padding-left: 5em;
  text-align: left;
  position: relative;
}

form {
  padding-top: 3em;
  padding-bottom: 3em;
}

div {
  padding-top: 0.5em;
}

input[type="text"] {
  background-color: yellow;
  width: 28%;
}

#submit {
  margin-top: 1em;
  margin-left: 7%;
}

#reset {
  margin-top: 2em;
}

#msgSection {
  position: absolute;
  right: 4.5em;
  width: 47%;
  height: 78%;
  transform: translateY(-50%);
  top: 50%;
}

#myMsg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

h2 {
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1;
}

h2:hover {
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
}

a {
  text-decoration: none;
  color: black;
}
